*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(22, 22, 23);
}
form{
    background-color: rgb(47, 45, 45);
    border-radius: 5%;
    width: 400px;
    margin: 50px auto;
    padding: 5px;
}
form > h1{
    text-align: center;
    padding: 20px;
    color: rgb(232, 67, 106);
}
label{
    color: rgb(232, 67, 106);
    padding: 3px;
}
form > ul{
    margin: auto;
    width: 380px;
}
form > ul > li{
    margin-top: 10px;
    list-style: none;
}
input{
    padding: 5px;
    width: 378px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(72, 69, 69, 0.663);
    font-size: 1em;
    color: white;
}
.btn{
    font-size: 1em;
    width: 130px;
    height: 40px;
    border-style: none;
    background-color:rgb(232, 67, 106);
    color: white;
    border-radius: 5px;
    margin: 15px;
}
.btn:hover{
    background-color: rgb(201, 114, 114);
    color: rgb(70, 64, 64);
}
.btn:active{
    background-color: rgb(75, 75, 246);
    color: white;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:rgb(232, 67, 106);
    color: white;
    text-align: center;
    padding: 10px;
}
footer > a{
    text-decoration: none;
    color: rgb(18, 18, 18);
}
#data-table{
    color: white;
    margin: auto;
    margin-bottom: 100px;
}
table {
    border-collapse: collapse;
}
table, thead{
    color: black;
}
table, th, td {
    border: 1px solid rgb(207, 188, 193);
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(232, 67, 106);
}
.container-btn{
    display: flex;
    margin: 0px auto 30px;
    width: 260px;
}

legend{
    margin-left: 15px;
    color: rgb(232, 67, 106);
}
.conteiner-form {
    display: flex;
    margin: auto;
    align-items: center;
    width: 360px;
}

.conteiner-form > input{
    margin: 10px;
    width: 20px;
}


